@use 'variables' as v;

.search {
    display: flex;
    border-radius: 20px; 
    overflow: hidden;
    width: 300px;
  
    &__input {
        flex: 1;
        border: none;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }
    &__button {
        border: none;
        background-color: v.$color1;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
  
      &:hover {
        background-color: v.$color2;
      }
    }
  }
  